@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #eeeeee;
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: darkslategray
}

/* headings and logo */

h1,
h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: rgb(243, 132, 4);
    /* color:rgb(27, 75, 27); */
}

h3 {
    color: white;
}

#logo {
    float: left;
    font-size: 450%;
    margin-left: 50px;
}

/* navigation links */

#nav-bar {
    font-size: 300%;
    font-weight: bolder;
}

#nav-bar,
#logo {
    line-height: 100px;
}

#nav-bar a {
    text-decoration: none;
    color: rgb(27, 75, 27);
}

#nav-bar a:hover {
    border-bottom: 8px solid rgb(243, 132, 4);
}

.active {
    border-bottom: 8px solid rgb(243, 132, 4);
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    font
}


/* playing rugby image and cover text */

#playing-rugby-image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#cover-text,
#cover-text h2 {
    color: white;
}

#playing-rugby-image {
    height: 800px;
    width: 100%;
    background: url('../images/two-boys-rugby.jpg') no-repeat center center;
}

/* Put in new photos here when have downloaded off internet for free */
#replace-image {
    height: 500px;
    width: 30%;
    background: url('../images/two-boys-rugby.jpg') no-repeat center center;
    border-radius: 50px;
}

#boy-photo {
    float:right;
    margin-left: 5px; 
    margin-bottom: 5px;
}



#welcome {
    text-align: center;
    margin: 60px 0;
    font-size: 350%;
    height: 200px;
}

#about-us {
    height: 800px;
}

#about-1 {
    padding-top: 50px;
    width: 99%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
}

#cover-text {
    font-size: 200%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    text-align: justify;
    height: 110px;
    padding: 20px 20px 30px;
    background-color: rgb(243, 132, .7);
    bottom: 800px;
    right: 135px;
    position: absolute;
}

#cover-link {
    color: rgb(27, 75, 27);
    font-weight: bolder;
}


/* List of Training in Sessions */

.lists ul {
    text-align:center;
    list-style: none;
    position: relative;
    float: left;
    display: block;
    left: 50%
    width: 99%;
    height: 100%;
}

.lists ul li {
    position: relative;
    float: left;
    display: block;
    right: 50%
    color: blueviolet;
    /* width: 99%;
    height: 100%; */
}

/* Table of Dates and Times */

.groups-style {
    margin: 0 auto 0 auto;
    font-size: 200%;
}

table {
    padding-left: 50px;
    width: 99%;
    height: 100%;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

tr,
th,
td {
    text-align: center;
}

th {
    font: bolder;
}

th,
td {
    border: 1px solid rgb(243, 132, .7);
    padding: 5px;
}


/* gallery */

#photos {
    clear: both;
    /*photo section appears below the header*/
    line-height: 0;
    /*removes the gaps between any images*/
    column-count: 4;
    /*secret source 4 columns for desktops 3 for tablets 2 for mobile if less than 4 pics available then choose 2*/
    column-gap: 0;
    /*removes a vertical gap*/
}

#photos >img {
    width: 100%;
    /*widths of images all set to 100%*/
}

/* Form */



  /*whole of the form*/
.form-section {
    clear: left;
    background: url('../images/two-boys-rugby.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
}

  /*all text in the form*/
.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(12, 58, 31, 0.411);
    max-width: 600px;
    position: absolute;
    left: 5%;
    padding: 30px;
}

#info {
    height:150px;
    text-align:justify;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #154b27;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #154b27;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #154b27;
}


/* About Us */

#Who-are-we {
    height: 800px;
    padding-top: 50px;
    width: 90%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
}

#What-do-we-do {
    height: 800px;
    padding-top: 75px;
    width: 90%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
}

#Coaching {
    height: 800px;
    padding-top: 125px;
    width: 90%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
}

/* Footer */

.social-networks {
    height: 150px;
    text-align: right;
}

.social-networks {
    text-align: center;  
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

}